<?xml version="1.0" encoding="utf-8"?>
<configuration version="1.0">
	<pluginsSection path="Plug-Ins">
		<plug-in name="TextMergeService" assembly="net.nick4name.TextMergeService.dll" class="net.nick4name.MergeService.Text.MergeText" mime="text/plain"/>
		<plug-in name="DocxMergeService" assembly="net.nick4name.DocxMergeService.dll" class="net.nick4name.MergeService.Docx.MergeDocx" mime="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
	</pluginsSection>
</configuration>